<section>
  <div class="container">
    <div class="title">
      <h1>Login</h1>
    </div>
  </div>
  <div class="container big-container">
    <div class="row">
      <div class="col-lg-5 left">

        <form #loginForm = "ngForm" (ngSubmit)="onSubmit(loginForm.value)">
          <div class="mb-3">
            <label for="email" class="form-label">Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input  ngModel required name="email" type="text" class="" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text pt-3">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="password"  class="form-label">Password</label>
            <input ngModel required name="password" type="password" class="" id="password">
          </div>
          <div class="mb-3 wrap">
            <input id="agree" type="checkbox">
            <label for="agree">
              <span>remember me</span>
            </label>
          </div>
          <div class="login-password-wrap">
            <button type="submit" class="btn login-btn"  [disabled]="!loginForm.valid">Login</button>
            <a href="#" class="forget-password">forget Password?</a>
          </div>

        </form>

      </div>
      <div class="col-lg-7 right">
        <div class="wrap">
          <h1>New Customer?</h1>
          <p>Creating an account is Quick and Easy</p>

          <div class="btn_wrap">
            <a class="create_account d-block" routerLink="/join">Create Account</a>
            <a type="button" class="google_login d-block" (click)="openModalComponent()">
              Login with Social Media &nbsp;<i class="fa-solid fa-hashtag"></i>
            </a>
          </div>
          <div class="line"></div>
          <p class="explanation">Login with Google will automatically process registration!</p>
        </div>

      </div>
    </div>

  </div>
</section>

<app-social-login-modal
  [openModal] = openModal
  (closeBtnEventEmitter) = "closeBtnEventReciever($event)"
></app-social-login-modal>

